<%- include('partials/header') %>
<section>
    <div class="card_container">
        <div class="card_child" style="width: 50%;">
        <img class="image1" src="images/ngo_building.png" alt="NGO building"></i>
        <div class="card-body">
            <h1 class="card-title">For NGO's</h1>
            <br>
            <p class="card-text" style="font-size: 25px;">To List down the NGO click the button given below.</p>
            <br>
            <a href="/registerngo"><button class="btn btn-lg btn-light btn-1" type="button" name="button">Sign Up</button></a>
            <a href="/loginngo"><button class="btn btn-lg btn-light btn-1" type="button" name="button">Sign In</button></a>
        </div>
        </div>
        <div class="card_child" style="width: 50%;">
        <img class="image1" src="images/philan.png" alt="Philanthropist"></i>
        <div class="card-body">
            <h1 class="card-title">For Philanthropist</h1>
            <br>
            <p class="card-text" style="font-size: 25px;">To register as a Philanthropist click the button given below .</p>
            <br>
            <a href="/register"><button class="btn btn-lg btn-light btn-1" type="button" name="button">Sign up</button></a>
            <a href="/login"><button class="btn btn-lg btn-light btn-1" type="button" name="button">Sign In</button></a>
        </div>
        </div>
        </div>
</section>

<%- include('partials/footer') %>